@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-light-color: #d9e3de;
  --secondary-light-color: #B3E0CA;
  --primary-dark-color: #7a7a7a;
  --secondary-dark-color: #3e3e3e;
  --primary-darker-color: #000000;
  --text-medium-color: #2a2a2a;
  --text-dark-color: #404B59;
  --text-light-color: #EDEDED;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1{
  font-weight: bolder;
  font-size: larger;
}

h2{
  columns: var(--primary-darker-color);
}

li{
  color: var(--text-medium-color);
}
