.main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8%;
    padding-bottom: 15%;

    background: url("../../../public/images/Support.jpg");
    background-blend-mode:light;
    background-size: 100% 100%;
    background-repeat:no-repeat;


  }
  




.discoverFrame2 {
    background-color:rgba(0, 0, 0, 0.8);
    display:inline;
    grid-template-columns: 0.5fr 0.5fr;
    height: 100%;
    padding: 1%;
    column-gap: 0;
}

.discoverFrame2:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Change color to white on hover */
    transform: scale(1.01); /* Increase in size on hover */
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition effect */
}


.discoverFrame2 .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0px;
    margin-left: 5%;
    width: 80%;
}

.discoverFrame2 .discover .discoverTitle {
    font-size: 4vw;
    font-weight: bolder;
    color: var(--primary-light-color);
}

.discoverFrame2 .discover .discoverText {
    
    font-size: 1.5vw;
    font-weight: 800;
    color: var(--primary-light-color);
}



.discoverFrame3 {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline;
    grid-template-columns: 0.5fr 0.5fr;
    height: 120%;
    width: min-content; /* Adjust the width as needed */
    padding: 3%; /* Add some padding for spacing */
    column-gap: 10px;
}

.discoverFrame3:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.01);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.discoverFrame3 .discover {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0px;
    margin: 5%;
    width: 80%; /* Adjust the width as needed */
}

.discoverFrame3 .discover .discoverTitle {
    font-size: 2.75vw;
    font-weight: bolder;
    color: var(--primary-light-color);
}

.discoverFrame3 .discover .discoverText {
    font-size: 1vw;
    font-weight: 800;
    color: var(--primary-light-color);
}





.discoverFrame3Pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%; /* Adjust as needed for spacing between pairs */
    margin-left: 10%;
    margin-right: 10%;
    

}

.discoverFrame3Pair .discoverFrame3 {
    width: 48.5%; /* Adjust as needed for spacing between pairs */
}